
body{
    background:url('badh.webp') no-repeat;
    background-attachment:fixed;
    background-size:cover;
    margin:0;
    padding:3px;
}

    
    nav{
background-color:green;
width:100%;
height:82px;
box-sizing:border-box;
padding:0;
position:fixed;
top:0;
z-index:2;
}

nav div{
float:left;

}

.logo{
    max-width:10%;
    box-sizing:border-box;
    margin:13px 0 10px 25px;
    padding:7px 10px 13px 10px;
    height:50px;
    width:80px;
    float:left;
}
                                    /*     study start    */
.study{
width:27%;
height:82px;
text-align:left;
padding-top:15px;
box-sizing:border-box;
color:white;

}

.clear{
width:10%;
height:82px;

}

.study h1{
font-weight:bold;
font-size:40px;
display:inline;

}
                                        /*     study end    */










                                        /*     menu start    */






.menu{
width:45%;
height:82px;
}


.menu ul{
display:flex;
flex-direction:row;
justify-content:space-between;
margin-top:24px;
}




.menu ul li{
list-style-type:none;  
}

.menu ul li a{
text-decoration:none;
color:white;
font-size:30px;
font-weight:bold;
}


.menu ul li a:hover{
    text-decoration:underline;
    cursor:pointer;
    color:black;
}

.menu ul li:hover{
cursor:pointer;
color:black;
}




.clear2{
    width:3%;
    height:82px;
    
}




.bars{
    display:flex;
    width:5%;
    height:82px;
    color:white;
    font-size:30px;
    justify-content:center;
    align-items:center;
    position:relative;
   
}


.bars ul{
    position:absolute;
    top:51px;
    right:0px;
    visibility:hidden;
    width:150px;
}


.bars ul li{
    color:white;
    list-style-type:none;
    margin-top:1.5px;
    background-color:green;
    z-index:2;
    
}


.bars ul li:hover{
    border:1px solid black;
    background-color:pink;
    color:black;
}


.bars:hover ul{
    visibility:visible;
}




.bars:hover{
    cursor:pointer;
    color:black;
}


.bars ul li a{
    font-size:30px;
    font-weight:bold;
    text-decoration:none;
    color:white;
}









                                        /*     menu end    */







                                            /*      main start     */



.faka2{
    width:100%;
    height:130px;
   
    }


    .main{
       
    }
    
    h1{
        text-align:center;
        
    }


    .registration-form{
        height:600px;
        width:100%;
        display:flex;
        justify-content:center;
        }

        form div{
         font-size:30px;
         font-weight:bold;
         margin:10px;
        }

        

        form div input[type="text"],input[type="email"],input[type="password"]{
            height:45px;
            width:300px;
            border:none;
            font-size:25px;
            padding:10px 10px 10px 20px;
            box-sizing:border-box;
            border-radius:10px;
            transition:1s;
            animation-name:form;
            animation-duration:0.1s;
            
        }


@keyframes form{

0%{
    height:40px;
    width:280px;
}

100%{
    height:45px;
    width:300px;

}



}









        form div input[type="submit"]{
            border-radius:10px;
            height:45px;
            width:110px;
            font-size:25px;
            font-weight:bold;
            text-align:center;
            margin-top:30px;
            position:absolute;
            left:600px;
            transition:1s;
            background-color:pink;
            animation-name:submit;
            animation-duration:0.1s;
           

        }


        @keyframes submit{

            0%{
                height:40px;
                width:90px;
            }
            
            100%{
                height:45px;
            width:110px;
            
            }
            
            
        }







            ::placeholder{
                font-size:20px;
                color:black;
                text-align:center;
                opacity:0.5;
            }



            form div input[type="text"]:hover{
                height:45px;
                width:400px;
                background-color:pink;
            }
    

            form div input[type="email"]:hover{
                height:45px;
                width:400px;
                background-color:pink;
            }
    

            form div input[type="password"]:hover{
                height:45px;
                width:400px;
                background-color:pink;
            }
    



            form div input[type="submit"]:focus{
                height:50px;
                width:130px;
               
            }
    









                                            /*      main end    */





